@charset "utf-8";
/* CSS Document */



/* --------------------Fonte da NAVBAR-------------------- */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* --------------------NAVBAR-------------------- */
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 20px 40px 0 rgba(1538, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}

.navbar-brand img{
	position: absolute;
	top: -40px;
	left: -10px;
	height: 150px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.nav-link{
	color: #ffffff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #FF919C !important;
}

.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #FF919C;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}

.nav-item{
	position: relative;
    transition: all 200ms linear;
}

/* --------------------FOOTER-------------------- */

.sec-footer{
    background: #4DA4EB;
    direction: rtl;
    text-align: right;
    color: #fff;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}
.sec-footer .desc-box{
    background: transparent;
    border: 0;
}
.sec-footer .desc-box .card-title::after{
    content: ' ';
    background: #ffffff;
    display: block;
    width: 95%;
    height: 0.2rem;
    margin-top:0.3rem;
}
.sec-footer .desc-box .card-text{
    font-family:iranyekan_light;
    text-align: justify;
}
.sec-sub-footer{
    background: #f2f2f4;
    direction: rtl;
    text-align: right;
    color: #000;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size:0.8rem;
}
.sec-sub-footer a{
    font-size:0.8rem;
}



/*------------------*/
.snip1472 {
    position: relative;
    font-size: 20px;
    color: #e6e6e6;
    width: 45px;
    margin: 4px;
    height: 45px;
    line-height: 45px;
    display: inline-block;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.snip1472:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 2px solid #e6e6e6;
    content: '';
    z-index: -1;
    border-radius: 50%;
}
.snip1472:before {
    color: #fff;
}
.snip1472:before,
.snip1472:after {
    -webkit-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}
.snip1472:hover,
.snip1472:active,
.snip1472.hover {
    color: #FF919C;
}
.snip1472:hover:after,
.snip1472:active:after,
.snip1472.hover:after {
    border-color: #FF919C transparent #FF919C transparent;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

body{
	
margin-top: 70px;

}

html{
	
	scroll-behavior: smooth ;
	
}

.cor{
	color: #FF919C ;
}
